name: CI
on:
  workflow_dispatch: {}
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
permissions:
  contents: read
jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: frantjc/actions/setup-tool@v1
        with:
          repository: dagger/dagger
          version: v0.19.9
      - shell: dagger {0}
        run: |
          isFmted &
          test --module steamapps --repository corekeeper | combinedOutput &
          test --module wolfi --repository zlib/go-1.25 | combinedOutput &
          test --module git --repository github.com/frantjc/sindri/testdata/git/std:${{ github.sha }} --repository github.com/frantjc/sindri/testdata/git/nonstd:${{ github.sha }} | combinedOutput &
          .wait
