name: CI
on:
  workflow_dispatch: {}
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
permissions:
  contents: read
jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: dagger/dagger-for-github@v8.2.0
        env:
          DAGGER_NO_NAG: 1
        with:
          shell: |
            sindri-dev --module steamapps | test --repository corekeeper | combinedOutput &
            sindri-dev --module wolfi | test --repository zlib/go-1.25 | combinedOutput &
            sindri-dev --module git | test --repository github.com/frantjc/sindri/testdata:${{ github.ref }} | combinedOutput &
            .wait
