name: CI
on:
  workflow_dispatch: {}
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
permissions:
  contents: read
jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: dagger/dagger-for-github@v8.2.0
        env:
          DAGGER_NO_NAG: 1
        with:
          shell: |
            test --module steamapps --repository corekeeper | combinedOutput &
            test --module wolfi --repository zlib/go-1.25 | combinedOutput &
            test --module git --repository github.com/frantjc/sindri/testdata/git/std:${{ github.sha }} --repository github.com/frantjc/sindri/testdata/git/nonstd:${{ github.sha }} | combinedOutput &
            .wait
